*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.footer2{
	background: var(--text-color);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	gap: 2rem;
    padding: 100px 14%;
	background-color: black;
    color: #fff;
    
}
.main-footer2 h3{
	font-size: 23px;
	margin-bottom: 1.6rem;
	color: var(--bg-color);
}
.main-footer2 h5{
	font-size: 15px;
	font-weight: 600;
	color: #555;
}
.icons{
	display: flex;
	margin-top: 2rem;
}
.icons i{
	font-size: 25px;
	margin-right: 1rem;
	color: #555;
	transition: all .35s ease;
}
.icons i:hover{
	color: var(--bg-color);
	transform: scale(1.1) translateY(-5px);
}
.main-footer2 li{
	margin-bottom: 15px;
}
.main-footer2 li a{
	display: block;
	color: #555;
	font-size: var(--normal-font);
	font-weight: 600;
	transition: all .35s ease;
}
.main-footer2 li a:hover{
	transform: translateX(-8px);
	color: var(--bg-color);
}

.last-text{
	text-align: center;
	padding: 20px;
	background: var(--text-color);
}
.last-text p{
	color: #555;
	font-size: 14px;
	letter-spacing: 1px;
}

.top{
	position: fixed;
	bottom: 2rem;
	right: 2rem;
}
.top i{
	font-size: 22px;
	color: var(--bg-color);
	padding: 14px;
	background: var(--main-color);
	border-radius: 2rem;
}


@media (max-width: 1000px){
	header{
		padding: 7px 4%;
		transition: .2s;
	}
	header.sticky{
		padding: 14px 4%;
		transition: .2s;
	}
	section{
		padding: 80px 4%;
		transition: .1s;
	}
}

@media (max-width: 670px){
	#menu-icon{
		display: block;
		cursor: pointer;
	}
	.header-icons{
		display: inline-flex;
	}
	.navlist{
		position: absolute;
		top: 100%;
		left: -100%;
		width: 280px;
		height: 120vh;
		background: var(--bg-color);
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 150px 30px;
		transition: all .45s ease;
	}
	.navlist a{
		display: block;
		margin: 1.2rem 0;
	}
	.navlist.open{
		left: 0;
	}
}

